@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* root-colors */
:root{
    --main : #802BB1;
    --dark-p:#2d283e;
    --gray-p:#4c495d;
    --gray-p-l:#564f6f;
    --cream:#acc9f1;
    --white:#fff;
    --shodow-box:0 5px 15px rgba(0,0,0,0.2);
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}


body{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--cream);
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

::before,::after{
    box-sizing: border-box;
}


img{
    vertical-align: middle;
    max-width: 100%;
}


.container{
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-contant-bet{
    justify-content: space-between;
}

.align-item-cen{
    align-items: center;
}

.f-screen{
    min-height: 100vh;
    padding: 80px 0 0;
}


.btn-1{
    padding: 15px 15px;
    color: var(--white);
    background-color: var(--main);
    font-size: 18px;
    border: none;
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.btn-1:hover{
    border: 1px solid var(--main);
    background-color: transparent;
    color: var(--main);
    font-weight: 900;
}


.wrap-effect .effect{
    position: absolute;
    z-index: -1;
}


.effect-1{
    width: 30px;
    height: 30px;
    right: 10%;
    bottom: 10%;
    border: 4px solid var(--main);
    animation: spin 4s linear infinite;
}

.effect-2{
    left: 3%;
    bottom: 8%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: bounchTop 3s ease-in-out infinite;
}


.effect-2 div{
    width: 4px;
    height: 4px;
    background-color: var(--main);
    margin: 0 3px 8px;
}


@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes bounchTop{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
}





/* navbar-s */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 23px;
}



.navbar .container{
    padding: 0 20px;
}


.logo a{
    text-transform: capitalize;
    color: var(--white);
    font-size: 35px;
    font-weight: 700;
}


.item-nav{
    display: inline-block;
    margin-right: 30px;

}


.link-nav{
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
    color: var(--white);
}



.btn-menu{
    color: var(--white);
    background-color: var(--main);
    font-size: 30px;
    height: 35px;
    width: 45px;
    padding: 0;
    border-radius:5px ;
    line-height: 35px;
    text-align: center;
    display: none;
}



/* navbar-e */





/* home-s */
.home-sec{
    position: relative;
}

.home-sec::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 160%;
    bottom: 0;
    background-image: url('../img/bg-shape.svg');
    background-repeat: no-repeat;
    background-size: cover;
}




.home-sec .text-home,
.home-sec .image-home {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}


.text-home h2{
    font-size: 65px;
    font-weight: 800;
    color: var(--white);
    line-height: 65px;
}


.text-home h2 span{
    color: var(--main);
}



.text-home p{
    color: var(--white);
    font-size: 20px;
    margin: 30px 0 60px 0;
    line-height: 30px;
    text-align: justify;
}



.box-img{
    max-width: 400px;
    margin: auto;
}

.box-img img{
    width: 100%;
    animation: productAnimation 3s linear infinite;
}

@keyframes productAnimation{
    0%,100%{
        transform: translateX(40px);
    }
    50%{
        transform: translateX(-40px);
    }
}




/* home-e */