@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* root-colors */
:root {
    --main: #802BB1;
    --dark-p: #2d283e;
    --gray-p: #4c495d;
    --gray-p-l: #564f6f;
    --cream: #acc9f1;
    --white: #fff;
    --shodow-box: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}


body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white) !important;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
}


img {
    vertical-align: middle;
    max-width: 100%;
}


.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-contant-bet {
    justify-content: space-between;
}

.align-item-cen {
    align-items: center;
}

.f-screen {
    min-height: 100vh;
    padding: 80px 0 0;
}

.padding-sec {
    padding: 80px 0;
}

.product-items {
    display: flex;
    flex-direction: column;
}

.title-sec {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    text-align: center;
    flex-direction: column !important;
}


.title-sec .title {
    font-size: 22px;
    font-weight: 900;
    line-height: 25px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 15px;
    color: var(--main);
    padding: 5px 10px;
    z-index: 1;
}


.title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-p);
    border-radius: 4px;
    z-index: -1;
    opacity: 0.2;
}



.subtitle {
    color: var(--dark-p);
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.btn-1 {
    padding: 15px 15px;
    color: var(--white);
    background-color: var(--main);
    font-size: 18px;
    border: none;
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.btn-1:hover {
    border: 1px solid var(--main);
    background-color: transparent;
    color: var(--main);
    font-weight: 900;
}


.wrap-effect .effect {
    position: absolute;
    z-index: -1;
}


.effect-1 {
    width: 30px;
    height: 30px;
    right: 10%;
    bottom: 10%;
    border: 4px solid var(--main);
    animation: spin 4s linear infinite;
}

.effect-2 {
    left: 3%;
    bottom: 8%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: bounchTop 3s ease-in-out infinite;
}


.effect-2 div {
    width: 4px;
    height: 4px;
    background-color: var(--main);
    margin: 0 3px 8px;
}


.effect-3 {
    border-top: 40px solid transparent;
    border-left: 40px solid var(--white);
    left: 30%;
    top: 20%;
    animation: spin 4s linear infinite;

}

.effect-3::before {
    content: "";
    border-top: 30px solid transparent;
    border-left: 30px solid var(--white);
    position: absolute;
    left: -30px;
    top: -20px;
    opacity: 0.4;
}



.effect-4 {
    width: 50px;
    height: 50px;
    right: 15%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 4s linear infinite;

}

.effect-4 div {
    width: 1px;
    /* background-color: var(--main); */
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes bounchTop {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }
}








/* navbar-s */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 23px;
    transition: all .5s ease;
}


.sticky{
    padding: 10px 25px;
    box-shadow: var(--dark-p);
    background-color: var(--main);
}

.navbar .container {
    padding: 0 20px;
}


.logo a {
    text-transform: capitalize;
    color: var(--white);
    font-size: 35px;
    font-weight: 700;
}


.item-nav {
    display: inline-block;
    margin-right: 30px;

}


.link-nav {
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
    color: var(--white);
}



.btn-menu {
    color: var(--white);
    background-color: var(--main);
    font-size: 30px;
    height: 35px;
    width: 45px;
    padding: 0;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    display: none;
}



/* navbar-e */





/* home-s */
.home-sec {
    position: relative;
}

.home-sec::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 160%;
    bottom: 0;
    background-image: url('../img/bg-shape.svg');
    background-repeat: no-repeat;
    background-size: cover;
}




.home-sec .text-home,
.home-sec .image-home {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}


.text-home h2 {
    font-size: 65px;
    font-weight: 800;
    color: var(--white);
    line-height: 65px;
}


.text-home h2 span {
    color: var(--main);
}



.text-home p {
    color: var(--white);
    font-size: 20px;
    margin: 30px 0 60px 0;
    line-height: 30px;
    text-align: justify;
}



.box-img {
    max-width: 400px;
    margin: auto;
}

.box-img img {
    width: 100%;
    animation: productAnimation 3s linear infinite;
}

@keyframes productAnimation {

    0%,
    100% {
        transform: translateX(40px);
    }

    50% {
        transform: translateX(-40px);
    }
}




/* home-e */




/* about-s */

.img-about,
.text-about {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}


.box-img {
    width: 360px;
    margin: auto;
}

.box-img img {
    width: 100%;
}


.text-about .title-sec {
    text-align: left;
    margin-bottom: 30px;
}


.text-about .content-about p {
    font-size: 20px;
    line-height: 28px;
    color: var(--gray-p);
    text-align: justify;
}




.color-container {
    margin-bottom: 30px;
}


.color-container .title {
    color: var(--dark-p);
    font-weight: 600;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.colors {
    display: flex;
    align-items: center;
}


.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid;
    cursor: pointer;
    margin: 0 10px;
    transition: .4s;
}

.color.black {
    background-color: black;
    border-color: black;
}

.color.green {
    background-color: green;
    border-color: green;
}


.color.red {
    background-color: red;
    border-color: red;
}

.color.sand {
    background-color: sandybrown;
    border-color: sandybrown;
}

.color.gray-white {
    background-color: rgb(145, 145, 145);
    border-color: rgb(145, 145, 145);
}



.color.white {
    background-color: #fff;
    border-color: #fff;
    border: 2px solid black;
}

.color .actives {
    border-color: var(--white);
    box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}



.price {
    margin-bottom: 30px;
}


.price .title {
    color: var(--dark-p);
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
}


.price .price-new {
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    padding-right: 10px;
    color: var(--dark-p);
    text-decoration: line-through;
}


.price .price-old {
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    color: var(--main);
}

.config {
    color: rgb(65, 115, 115);
    font-size: 25px;
    text-decoration: none;
    display: block;
    margin-top: 40px
}

/* about-e */




/* product-s */
.product-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 20px;
    cursor: pointer;
}

.product-item .product-item-inner {
    position: relative;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card-img {
    width: 190px;
    padding-bottom: 20px;
    transition: all .5s ease-in;
}

.name-card {
    position: absolute;
    left: -28%;
    top: 0;
    width: 3.2rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-p);
    color: var(--white);
    font-weight: bold;
    transition: all .5s ease-in;
}

.icon-card {
    font-size: 1.2rem;
    color: var(--dark-p);
}

.icon-card:hover {
    color: var(--main);
}


.card-precis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: all .5s ease-in;
}

.card-preci {
    display: block;
    text-align: center;
}


.card-preci-before {
    font-size: 0.70rem;
    color: var(--main);
    font-weight: bold;
    margin-bottom: .25rem;
}


.card-preci-now {
    font-size: .95rem;
    font-weight: bold;
    color: var(--dark-p);
}

.product-item .product-item-inner:hover .name-card{
    left: 0;
}

.product-item .product-item-inner:hover .card-img{
    margin-left: 3rem;
}

.product-item .product-item-inner:hover .card-precis{
    margin-left: 3rem;
    padding: 0 1.5rem;
}

/* product-s */



/* contact-s */
.info-contact{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 20px;
}

.form-contact{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding: 20px;
}

.info-contact h3{
    font-size: 22px;
    color: var(--dark-p);
    font-weight: 700;
    margin: 0 0 40px;
}

.info-contact-item{
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}

.info-contact-item i{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid var(--main);
    color: var(--main);
    line-height: 38px;
    text-align: center;
}


.info-contact-item h4{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
    color: var(--dark-p);
}

.info-contact-item p{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 26px;
    color: var(--dark-p);
}



.form-contact .left,
.form-contact .right{
    flex: 0 0 50%;
    max-width: 50%;
}


.form-contact .left{
    padding-right: 10px;
}

.form-contact .right{
    padding-left: 10px;
}

.form-contact .group-form{
    margin-bottom: 25px;
}

.form-contact .control-form{
    height: 52px;
    width: 100%;
    border: 1px solid transparent;
    box-shadow: var(--shodow-box);
    border-radius: 30px;
    padding: 0 24px;
    color: var(--dark-p);
    background-color: var(--white);
    transition: .5s;
}

.form-contact .control-form:focus{
    border-color: var(--main);
}


.width-full{
    width: 100%;
}


.form-contact textarea.control-form{
    height: 140px;
    padding: 12px;
    resize: none;
}

/* contact-e */





/* footer-s */
footer{
    background-color: var(--dark-p);
    height: 300px;
}


.col-left,
.col-right{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 80px 20px;
    /* align-items: center;
    justify-content: center; */
}

/* .col-left{
    padding: 5% 13%;
} */

.so-media{
    margin: 20px 0;
}

.so-media a{
    color: var(--white);
    margin-right: 25px;
    font-size: 23px;
    text-decoration: none;
    transition: 0.4s;
}

.so-media a:hover{
    color: var(--main);
}

.text-left{
    color: var(--white);
}



.col-right h1{
    font-size: 25px;
    color: var(--white);
}

.col-right .border{
    width: 100px;
    height: 5px;
    margin: 10px 0;
    background-color: var(--main);
}

.col-right  p{
    color: var(--white);
    margin-bottom: 7px;
}

.form-news{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.text-btn{
    flex: 1;
    padding: 17px 42px;
    background-color: var(--white);
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 10px;
    max-width: 360px;
}

.form-news .btn-1{
    margin-left: 8px;
}



/* footer-n */